.landing {
  height: 100vh;
  background-image: url(/images/landing.jpg);
  background-size: cover;
  position: relative;
}

.landing-text {
  display: flex;
  justify-content: end;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  background-color: var(--transparent-color);
  padding: 50px;
  color: white;
}

.landing-content {
  max-width: 500px;
}

.landing-content h2 {
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: normal;
}
.landing-content p {
  font-size: 14px;
  line-height: 2;
}
