.landing {
  height: 100vh;
  background-image: url(/images/landing.jpg);
  background-size: cover;
  position: relative;
}

.landing-text {
  display: flex;
  justify-content: end;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  background-color: var(--transparent-color);
  padding: 50px;
  color: white;
}

.landing-content {
  max-width: 500px;
}

.landing-content h2 {
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: normal;
}
.landing-content p {
  font-size: 14px;
  line-height: 2;
}

.right {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(50%);
  color: white;
  border: 1px solid;
  padding: 10px;
  cursor: pointer;
}

.left {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(50%);
  color: white;
  border: 1px solid;
  padding: 10px;
  cursor: pointer;
}

.bullets {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.bullets li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid white;
}
.bullets .active {
  background-color: var(--transparent-color);
  border: none;
}
